PORT=5002
HOST=0.0.0.0
MONGODB_URI=mongodb+srv://silverstrix685_db_user:aAgzXNT56iCwdWds@silverastrix.2oseoyc.mongodb.net/silverstrix?retryWrites=true&w=majority&appName=SilverStrix&tls=true
MONGODB_DB_NAME=silverstrix
JWT_SECRET=change-me-in-production
ADMIN_EMAIL=admin@silverstrix.com
ADMIN_PASSWORD=Admin@12345!
ADMIN_FULL_NAME=Admin User
MONGODB_TLS_ALLOW_INVALID_CERTS=false
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@df3smm2gt
CLOUDINARY_API_KEY=<api_key>
CLOUDINARY_API_SECRET=<api_secret>
CLOUDINARY_CLOUD_NAME=df3smm2gt
CASHFREE_APP_ID=<cashfree_app_id>
CASHFREE_SECRET_KEY=<cashfree_secret_key>
CASHFREE_KEY_ID=<cashfree_app_id>
CASHFREE_KEY_SECRET=<cashfree_secret_key>
CASHFREE_ENV=production
CASHFREE_ENVIRONMENT=production
SHIPROCKET_API_EMAIL=<shiprocket_api_user_email>
SHIPROCKET_API_PASSWORD=<shiprocket_api_user_password>
SHIPROCKET_EMAIL=<shiprocket_api_user_email>
SHIPROCKET_PASSWORD=<shiprocket_api_user_password>
SHIPROCKET_PICKUP_LOCATION=warehouse
SHIPROCKET_DEFAULT_WEIGHT=0.5
SHIPROCKET_DEFAULT_LENGTH=10
SHIPROCKET_DEFAULT_BREADTH=10
SHIPROCKET_DEFAULT_HEIGHT=10
